*.log
logs-old/
!logs
*__pycache__
*/__pycache__
*/*__pycache__
*/*/__pycache__
*.out
run_kaggle_pt
model.pth
*.DS_Store
*/.DS_Store
*/*.DS_Store
*/*/.DS_Store
*.ipynb_checkpoints
*/.ipynb_checkpoints
*/*.ipynb_checkpoints
*/*/.ipynb_checkpoints
file_to_download.txt
index.html
test.txt
out.txt
